<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="A1RobertHibbinsSIT313.A1RobertHibbinsSIT313" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="16" />
  <application android:label="A1RobertHibbinsSIT313"></application>
</manifest>